<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Lista de Clientes</title>
        <link
            href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div id="listaDeClientes">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tr th:each="clientes : ${clientes}">
                        <td><span th:text="${clientes.nome}"></span></td>
                        <td><span th:text="${clientes.email}"></span></td>
                        <td><span th:text="${clientes.password}"></span></td>
                    </tr>
                </table>
            </div>
            <hr/>
            <a href="relatorio" class="btn btn-primary center-block" style="margin-left: 0rem ;margin-top: 4.4rem;border-radius: 3.5rem">Boletos</a>
            <div>
                <form action="delete" method="post">
                    <div class="form-group" style="width: 20rem; margin-top: 1rem">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Adicione aqui o username a ser deletado!">
                    </div>
                    <button type="submit" class="btn btn-secondary">Deletar</button>
                </form>
            </div>
        </div>
    </body>
</html>